.grid {
    width: 100%;
    display: block;
    padding: 0;
}
.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row.sm-gutter {
    margin-left: -6px;
    margin-right: -6px;
}
.col {
    padding-left: 4px;
    padding-right: 4px;
}
.row.sm-gutter .col {
    padding-left: 6px;
    padding-right: 6px;
}
.c-0 {
    display: none;
}
.c-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
}
.c-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
}
.c-2-4 {
    max-width: 20%;
    flex-basis: 20%;
}
.c-3 {
    max-width: 25%;
    flex-basis: 25%;
}
.c-4 {
    max-width: 33.3333%;
    flex-basis: 33.3333%;
}
.c-5 {
    max-width: 41.66667%;
    flex-basis: 41.6667%;
}
.c-6 {
    max-width: 50%;
    flex-basis: 50%;
}
.c-7 {
    max-width: 58.3333%;
    flex-basis: 58.3333%;
}
.c-8 {
    max-width: 66.6667%;
    flex-basis: 66.6667%;
}
.c-9 {
    max-width: 75%;
    flex-basis: 75%;
}
.c-10 {
    max-width: 83.3333%;
    flex-basis: 83.3333%;
}
.c-11 {
    max-width: 91.6667%;
    flex-basis: 91.6667%;
}
.c-12 {
    max-width: 100%;
    flex-basis: 100%;
}
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0 {
        display: none;
    }
    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }
    .m-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }
    .m-2 {
        max-width: 16.66667%;
        flex-basis: 16.6667%;
    }
    .m-2-4 {
        max-width: 20%;
        flex-basis: 20%;
    }
    .m-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .m-4 {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }
    .m-5 {
        max-width: 41.66667%;
        flex-basis: 41.6667%;
    }
    .m-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .m-7 {
        max-width: 58.3333%;
        flex-basis: 58.3333%;
    }
    .m-8 {
        max-width: 66.6667%;
        flex-basis: 66.6667%;
    }
    .m-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .m-10 {
        max-width: 83.3333%;
        flex-basis: 83.3333%;
    }
    .m-11 {
        max-width: 91.6667%;
        flex-basis: 91.6667%;
    }
    .m-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (min-width: 1024px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0 {
        display: none;
    }
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }
    .l-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }
    .l-2 {
        max-width: 16.66667%;
        flex-basis: 16.6667%;
    }
    .l-2-4 {
        max-width: 20%;
        flex-basis: 20%;
    }
    .l-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .l-4 {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }
    .l-5 {
        max-width: 41.66667%;
        flex-basis: 41.6667%;
    }
    .l-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .l-7 {
        max-width: 58.3333%;
        flex-basis: 58.3333%;
    }
    .l-8 {
        max-width: 66.6667%;
        flex-basis: 66.6667%;
    }
    .l-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .l-10 {
        max-width: 83.3333%;
        flex-basis: 83.3333%;
    }
    .l-11 {
        max-width: 91.6667%;
        flex-basis: 91.6667%;
    }
    .l-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (min-width: 1240px) {
    .a-0 {
        display: none;
    }
    .a-1,
    .a-2,
    .a-3,
    .a-4,
    .a-5,
    .a-6,
    .a-7,
    .a-8,
    .a-9,
    .a-10,
    .a-11,
    .a-12 {
        display: block;
    }
    .a-1 {
        max-width: 8.33333%;
        flex-basis: 8.33333%;
    }
    .a-2 {
        max-width: 16.66667%;
        flex-basis: 16.6667%;
    }
    .a-2-4 {
        max-width: 20%;
        flex-basis: 20%;
    }
    .a-3 {
        max-width: 25%;
        flex-basis: 25%;
    }
    .a-4 {
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }
    .a-5 {
        max-width: 41.66667%;
        flex-basis: 41.6667%;
    }
    .a-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .a-7 {
        max-width: 58.3333%;
        flex-basis: 58.3333%;
    }
    .a-8 {
        max-width: 66.6667%;
        flex-basis: 66.6667%;
    }
    .a-9 {
        max-width: 75%;
        flex-basis: 75%;
    }
    .a-10 {
        max-width: 83.3333%;
        flex-basis: 83.3333%;
    }
    .a-11 {
        max-width: 91.6667%;
        flex-basis: 91.6667%;
    }
    .a-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        max-width: 644px;
    }
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        max-width: 984px;
    }
}